@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: Poppins, sans-serif;
}

body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.container .left_side
{
    position: relative;
    background: #003147;
    padding: 40px;
}

.container .right_side
{
    position: relative;
    background: #fff;
    padding: 40px;
}

.profileText
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255, 255, 255,0.2);

}

.profileText .imgBx
{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}

.profileText .imgBx img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileText h2
{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}

.profileText h2 span
{
    font-size: 0.8em;
    font-weight: 300;
    
}

.contactInfo
{
    padding-top: 40px;
}

.title
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactInfo ul
{
    position: relative;

}

.contactInfo ul li
{
    list-style: none;
    margin: 5px 0px;
    cursor: pointer;

}

.contactInfo ul li .icon
{
    display: inline;
    width: 30px;
    font-size: 18px;
    color: #03a9f4;
}
.contactInfo ul li span
{
    color: #fff;
    font-weight: 300;
    text-align: left;
    vertical-align: text-bottom;
}

.contactInfo.education li
{
    margin-bottom: 15px;
}

.contactInfo.education h5
{
    
    color: #03a9f4;
}

.contactInfo.education h4:nth-child(2){
    color: #fff;
    font-weight: 500;

}

.contactInfo.education h4{
    color: #fff;
    font-weight: 300;

}

.contactInfo.languge .percent
{
    position: relative;
    width: 100%;
    height: 6px;
    background-color: #f00;
    display: block;
    background: #081921;
    margin-top: 5px;

}

.contactInfo.languge .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}

.certificates h4
{
    color: #fff;
    font-weight: 300;
}

.right_side h2{
    color: #081921;
    font-weight: 500;
    text-transform: uppercase;

    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.right_side.about 
{
    margin-bottom: 50px;
}
.right_side ul
{

    font-weight: 300;
    color: #333;
    margin-bottom: 5px;
    padding-left: 20px;
    list-style-position: inside;
}

.right_side.about.softSkills .h4
{
    font-weight: 500;
    color: #081921;
}

.about:last-child
{
    margin-bottom: 0;
    font-weight: 300
}

.right_side p
{
    color: #333;
    font-weight: 300;
}

.right_side .box h5
{
    font-weight: 500;
    color: #848c84;

}

.right_side .box .text ul{
    font-weight: 300;
    color: #333;
    margin-bottom: 5px;
    padding-left: 20px;
    list-style-position: inside;

}

.right_side .box h4
{
    font-weight: 500;
    color: #081921;
}

.skills .box
{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1px;
    align-items: center;
}

.skills .box h4
{
    text-transform: uppercase;
    color: #848c99;
    font-weight: 500;
    margin-bottom: 10px;

}
.skills .box h4 .percent
{
     position: relative;
     width: 100%;
     height: 10px;
     background: #f00;
}

.skills .box .percent div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;

}

@media (max-width: 1000px)
{
    .container
    {
        margin: 10px;
        grid-template-columns: repeat(1,1fr);
    }
}


